ul.media-list(hx-target=".main-content")
  if data.length > 0
    each file in data
      li.media-item(hx-get=`/library/${file.name}/play`)
        img.media-thumbnail(
          src='https://via.placeholder.com/150'
          alt=`Thumbnail for ${file.name}`
        )
        .media-info
          h3.media-title= file.name
          p.media-description= file.path
          .media-controls
            a(href=`/library/${file.name}/play`) Play
  else
    .empty
      h3 No files found